In [3]:
# importing pandas
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('data_python.csv')

In [5]:
df.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [6]:
df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [7]:
df.shape

(614, 13)

In [8]:
df.shape[1]

13

In [9]:
print(df.dtypes['Gender'])

object

In [10]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [11]:
df.dtypes[df.columns]

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [12]:
df['Loan_Status']

0      Y
1      N
2      Y
3      Y
4      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object

In [13]:
df.iloc[:5,3:5]

  Dependents     Education
0          0      Graduate
1          1      Graduate
2          0      Graduate
3          0  Not Graduate
4          0      Graduate

In [14]:
mode = df['LoanAmount'].mode()

In [15]:
print(mode)

0    120.0
dtype: float64

In [16]:
mean = df['LoanAmount'].mean()

In [17]:
print(mean)

146.41216216216216

In [20]:
median = df['LoanAmount'].median()

In [21]:
print(median)

128.0

In [36]:
q1 = df['LoanAmount'].quantile(0.25)
q3 = df['LoanAmount'].quantile(0.75)

In [28]:
print(q1)

100.0

In [31]:
lmin = df['LoanAmount'].min()
lmax = df['LoanAmount'].max()
print(lmin)
print(lmax)

9.0
700.0

In [34]:
ran = lmax-lmin
print(ran)

691.0

In [37]:
IQR = q3-q1
print(IQR)

68.0

In [40]:
difference = df['LoanAmount'] - mean

In [41]:
squared_diff = difference ** 2

In [43]:
var = squared_diff.mean()
print(var)

7312.816608838569

In [47]:
var1 = df['LoanAmount'].var(ddof=0)
print(var1)

7312.816608838569

In [48]:
standard_dev = var ** (1/2)
print(standard_dev)

85.51500809120331